<mat-form-field class="example-full-width">
    <mat-label>Choose your city</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="city"
           name="city"
           matInput
           [(ngModel)]="userinput"
           (keyup)="getCity(userinput)"
           [formControl]="myControl"
           [matAutocomplete]="auto" required>
    <mat-autocomplete #auto="matAutocomplete">
      <div *ngIf="options">
      <mat-option *ngFor="let option of options" [value]="option.result">
        {{option.result}}
      </mat-option>
      </div>
    </mat-autocomplete>
  </mat-form-field>
  <button type="submit" mat-raised-button color="warn" class="button" ><a [routerLink]="['/details']">Submit</a></button>
