<button class="button1" (click)="customerDetails()">Customer Details</button>
<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Customer Details
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table class="mat-elevation-z8" >
        <thead>
            <tr>
                <th> Id</th>
                <th> Name</th>
                <th>Number</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody *ngFor="let customer of userDetails.customer">
            <tr >
              <td>{{customer.id}}</td>
                <td>{{ customer.fullname }}</td>
                <td>{{ customer.number}}</td>
                <td>{{ customer.email }}</td>
            </tr>
        </tbody>
    </table>
    </mat-expansion-panel>
    </mat-accordion>
