<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Customer Details
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table class="mat-elevation-z8" >
        <thead>
            <tr>
                <th> Name</th>
                <th> Number</th>
                <th>Email</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody >
            <!-- <tr >
                <th>{{ customer.fullname }}</th>
                <td>{{ customer.number}}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.city }}</td>
            </tr> -->
        </tbody>
    </table>
    </mat-expansion-panel>
    </mat-accordion>
